@model IEnumerable<CollegeWebApp.Models.Student>
@{
    ViewData["Title"] = "Students";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Your Application Name</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
        }

        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .action-links a {
            color: #337ab7;
            text-decoration: none;
            margin-right: 10px;
        }

        .btn-custom {
            background-color: darkslategray;
            color: white;
            padding: 8px 12px;
            border-radius: 5px;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

            .btn-custom:hover {
                background-color: #007bff;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <p>
            <a href="@Url.Action("Create")" class="btn btn-primary btn-custom">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.StudentName)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
                        <td class="action-links">
                            <a asp-action="Edit" asp-route-id="@item.StudentID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.StudentID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.StudentID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
